Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*

HeaderFilterRegex: 'src/.*|include/.*'

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case